.accordian {
	width: 100%;
	background-color: $accordion-blue;
	border: none;
	border-bottom: 1px solid #f2dada45;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.4s;
	img {
		height: 50px;
		transition: 0.4s;
	}
}
.bottle__rotate {
	transform: rotate(-90deg);
}
.active,
.accordian:hover {
	filter: brightness(120%);
}
.bottle__rotate {
	transform: rotate(-90deg);
}
.panel {
	background-color: rgb(233, 240, 241);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	p {
		margin: 0;
		padding: 10px 30px;
	}
}
