.CTA-grid__wrapper {
	width: 100%;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 2rem;
}

.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 200px;
	margin-right: 2rem;
	background-color: #f7f1f1;
	padding: 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.2s;
}

.card:hover {
	background-color: #e4dada;
}

.CTA-grid__title {
	text-align: center;
}
